<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVideoGenLabel">Create or edit a Video Gen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!videoGen.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="videoGen.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="videoGen.author" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date">Date</label>
            <input type="text" class="form-control" name="date" id="field_date"
                [(ngModel)]="videoGen.date" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                [(ngModel)]="videoGen.version" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
