
<div *ngIf="videoGen">
    <h2><span>Video Gen</span> {{videoGen.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Author</span></dt>
        <dd>
            <span>{{videoGen.author}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{videoGen.date}}</span>
        </dd>
        <dt><span>Version</span></dt>
        <dd>
            <span>{{videoGen.version}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video-gen/'+ videoGen.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
