<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDM project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Générer une vidéo</a></li>
                <li class="active"><a href="/videoDispo">Video/Image de base</a></li>
                <li class=""><a href="/videoGenerated">Liste des vidéos disponible</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div th:each="urlVideo : ${videos}">

                <p th:text="${urlVideo}"></p>
                <video controls="">
                    <source th:src="${urlVideo}" type="video/mp4" />
                </video>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>