

<!-- ########################################################################################################################### -->
<!-- ########################################################################################################################### -->
<!-- ########################################################################################################################## -->
<div class="body">

        <!-- ########################################################################################################################## -->
        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->
        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->




        <!-- ######################################### -->
        <!-- L'authentification####################### -->
        <!-- ######################################### -->

        <div [ngSwitch]="isAuthenticated()" >


            <!-- ######################################### -->
            <!-- Si la personne ne s'est pas authentifié # -->
            <!-- ######################################### -->


            <!-- ######################################### -->
            <!-- Not Authenticated ####################### -->
            <!-- ######################################### -->

            <div align="center" class="row" *ngSwitchCase="false">

                <!-- ######################################### -->
                <!-- En tete de page, insertion de l'image ### -->
                <!-- ######################################### -->
                <!-- <div class="col-md-3">
                    <span class="hipster img-fluid rounded"></span>
                </div> -->
                <!-- ######################################### -->
                <!-- ######################################### -->
                <!-- ######################################### -->

                <!-- ######################################### -->
                <!-- Start Page Introduction ################# -->
                <!-- ######################################### -->



                <div align="center">
                    <div id="divIntroduction">

                        <!-- ######################################### -->
                        <!-- Titre#################################### -->
                        <!-- ######################################### -->
                        <h1 class="divWelcome"><br>WELCOME TO THE BEAUTIFUL<br><br>VIDEO GENERATOR !<br><br></h1>
                        <!-- ######################################### -->
                        <!-- ######################################### -->
                        <!-- ######################################### -->


                        <img height="200" src="../../content/images/bref_background.png" />


                    </div>
                </div>



                <!-- ######################################### -->
                <!-- End Page Introduction ################### -->
                <!-- ######################################### -->

            </div>
            <!-- ######################################### -->
            <!-- End Not Authentificated ################# -->
            <!-- ######################################### -->

            <!-- ########################################################################################################################### -->

            <!-- ######################################### -->
            <!-- Si la personne s'est authentifié ######## -->
            <!-- ######################################### -->

            <!-- ######################################### -->
            <!-- Authenticated ########################### -->
            <!-- ######################################### -->
            <div align="center" class="row" *ngSwitchCase="true" >


                <div align="center">
                    <div class="divIntroductionUser">

                        <!-- ######################################### -->
                        <!-- Titre#################################### -->
                        <!-- ######################################### -->
                        <h1 class="divWelcome"><br>VIDEO GENERATOR <br><br></h1>
                        <!-- ######################################### -->
                        <!-- ######################################### -->
                        <!-- ######################################### -->


                        <img height="200" src="../../content/images/bref_background.png" />

                    </div>
                    <!-- ######################################### -->
                    <!-- Select ################################## -->
                    <!-- ######################################### -->

                </div>
                <!-- ######################################### -->
                <!-- Video Not Received ###################### -->
                <!-- ######################################### -->

                <!-- ######################################### -->
                <!-- SearchText (Here > videos) ############## -->
                <!-- ######################################### -->


               <div class="loadVideos">
                    <select [(ngModel)]="videoGen" (change)="loadModel()">
                        <option *ngFor="let file of listFiles" [value]="file">{{file}}</option>
                    </select>
                    <button *ngIf="videoGenModel" (click)="generateRandomVariant()">Random</button>
                </div>


                <div *ngIf="loadingString" style="color: red">{{loadingString}}</div>

                <div class = "preload"></div>
                <div>
                    <video *ngIf="displayVideo" preload="auto" controls autoplay>
                        <source src="{{ videoLocation }}" type="video/mp4">
                    </video>
                </div>

                <div class="if_videoGenModel"></div>
                <div *ngIf="videoGenModel">
                    <table>
                        <tr *ngFor="let media of videoGenModel.medias">
                            <td *ngIf="media.type == 'mv'">
                                <img height="200" src="{{media.description.thumbnail}}" class="mandatory-thumbnail"/>
                            </td>
                            <td *ngIf="media.type == 'ov'">
                                <img (click)="media.description.selected = !media.description.selected" *ngIf="media.description.selected" height="200" src="{{media.description.thumbnail}}" class="selected-thumbnail"/>
                                <img (click)="media.description.selected = !media.description.selected" *ngIf="!media.description.selected" height="200" src="{{media.description.thumbnail}}" class="unselected-thumbnail"/>
                            </td>
                            <td *ngIf="media.type == 'av'">
                                <table>
                                    <tr>
                                        <td *ngFor="let desc of media.medias">
                                            <img (click)="checkAndUncheck(desc.videoId, media)" *ngIf="desc.selected" height="200"
                                                 src="{{desc.thumbnail}}" class="selected-thumbnail">
                                            <img (click)="checkAndUncheck(desc.videoId, media)" *ngIf="!desc.selected" height="200"
                                                 src="{{desc.thumbnail}}" class="unselected-thumbnail">
                                            <!--<input type="radio" name="{{media.id}}" [checked]="idx === 0" (change)="checkAndUncheck(desc.videoId, media)">-->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <button (click)="generateVideo()">Generate Video</button>
                </div>
                <!--  <input [(ngModel)]="videoGen" (change)="getFiles()" type="text"/>
                 Press enter to search
             <br><br>-->
                <!-- ######################################### -->
                <!-- ######################################### -->
                <!-- ######################################### -->
            </div>


        </div>
        <!-- ######################################### -->
        <!-- End Video Not Received ################## -->
        <!-- ######################################### -->




        <!-- ########################################################################################################################### -->

</div>
<!-- ########################################################################################################################## -->
<!-- ########################################################################################################################## -->
<!-- ########################################################################################################################## -->
    