VideoGenTools/

org.xtext.example.videogen.ui.tests/
org.xtext.example.videogen.ui/
org.xtext.example.videogen.tests/
org.xtext.example.videogen.ide/
org.xtext.example.videogen/

loic_beaulieu_xtext_project/bin/