
VideoGenTools/*

org\.xtext\.example\.videogen/*

org\.xtext\.example\.videogen\.ide/*

org\.xtext\.example\.videogen\.ui/*

org\.xtext\.example\.videogen\.tests/*

\.project

VideoGenTools/

antoineC/\.classpath

antoineC/bin/

antoineC/xtend-gen/

org\.xtext\.example\.videogen/

org\.xtext\.example\.videogen\.ide/

antoineC/src/main/xtend-gen/

antoineC/VideoGenOutput/

antoineC/VideoGenTemp/

*.mp4

*.mkv
