
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: block;
    width: 1920px;
    height: 1080px;
    background: url("../../content/images/background_videos.jpg") no-repeat ;
    background-size: cover;
}

.body{

    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("../../content/images/background_videos.jpg");
    background-size: cover;
}
.divWelcome{
    margin:auto;
    height: auto;
    width: 1294px;
    color: white;
    background-color: black;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.divIntroduction{
    margin: auto;
    width: 1920px;
    height: 1080px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.selected-thumbnail{
    border: medium solid green;
}

.mandatory-thumbnail{
    border: medium solid orange;
}

.unselected-thumbnail{
    border: medium solid transparent;
}
