


<!-- ########################################################################################################################### -->
<!-- ########################################################################################################################### -->
<!-- ########################################################################################################################## -->
<div class="row">

    <div class="col-md-4">
        <span class="hipster img-fluid rounded"></span>
    </div>


    <div class="col-md-9">

        <!-- ########################################################################################################################## -->
        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->
        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->




        <!-- ######################################### -->
        <!-- L'authentification####################### -->
        <!-- ######################################### -->

        <div [ngSwitch]="isAuthenticated()" >


            <!-- ######################################### -->
            <!-- Si la personne ne s'est pas authentifié # -->
            <!-- ######################################### -->


            <!-- ######################################### -->
            <!-- Not Authenticated ####################### -->
            <!-- ######################################### -->

            <div class="row" *ngSwitchCase="false">

                <!-- ######################################### -->
                <!-- En tete de page, insertion de l'image ### -->
                <!-- ######################################### -->
                <!-- <div class="col-md-3">
                    <span class="hipster img-fluid rounded"></span>
                </div> -->
                <!-- ######################################### -->
                <!-- ######################################### -->
                <!-- ######################################### -->

                <!-- ######################################### -->
                <!-- Start Page Introduction ################# -->
                <!-- ######################################### -->

                <div class="col-md-9">

                    <!-- ######################################### -->
                    <!-- Titre#################################### -->
                    <!-- ######################################### -->
                    <h1 class="display-4">Welcome to the beautiful Video Generator!</h1>
                    <!-- ######################################### -->
                    <!-- ######################################### -->
                    <!-- ######################################### -->

                    <!-- ######################################### -->
                    <!-- To Sign################################## -->
                    <!-- ######################################### -->
                    <div >
                        <div class="alert alert-warning" >
                            <a class="alert-link" (click)="login()">Sign in.</a><br><br>
                            <span>You don't have an account yet?</span>
                            <a class="alert-link" routerLink="register">Register a new account</a>
                        </div>
                    </div>
                    <!-- ######################################### -->
                    <!-- ######################################### -->
                    <!-- ######################################### -->

                </div>

                <!-- ######################################### -->
                <!-- End Page Introduction ################### -->
                <!-- ######################################### -->

            </div>
            <!-- ######################################### -->
            <!-- End Not Authentificated ################# -->
            <!-- ######################################### -->

            <!-- ########################################################################################################################### -->

            <!-- ######################################### -->
            <!-- Si la personne s'est authentifié ######## -->
            <!-- ######################################### -->

            <!-- ######################################### -->
            <!-- Authenticated ########################### -->
            <!-- ######################################### -->
            <div *ngSwitchCase="true" >

                <!-- ######################################### -->
                <!-- Event Received ########################## -->
                <!-- ######################################### -->
                <!-- <div [ngSwitch]="eventReceived()"> -->

                <!-- ######################################### -->
                <!-- Video Not Received ###################### -->
                <!-- ######################################### -->

                <div class="fa fa-3x">
                    Please enter your videos.
                </div>
                <!-- ######################################### -->
                <!-- SearchText (Here > videos) ############## //TODO modifier le nom de ces methodes et mettre les bonnes-->
                <!-- ######################################### -->
                <!-- <br><br>-->
                <select [(ngModel)]="videoGen" (change)="test()">
                    <option *ngFor="let file of listFiles" [value]="file">{{file}}</option>
                </select>
                <!--  <input [(ngModel)]="videoGen" (change)="getFiles()" type="text"/>
                 Press enter to search
             <br><br>-->
                <!-- ######################################### -->
                <!-- ######################################### -->
                <!-- ######################################### -->
            </div>
            <!--  <div *ngSwitchCase="false" > -->

            <!-- ######################################### -->
            <!-- Title ########################### -->
            <!-- ######################################### -->
            <!-- ######################################### -->
            <!-- ######################################### -->
            <!-- ######################################### -->






            <!-- ######################################### -->
            <!-- SearchText (Here > videos) ############## //TODO modifier le nom de ces methodes et mettre les bonnes-->
            <!-- ######################################### -->
            <!--<button *ngIf="placeSearch && placeSearch.length > 0" class="btn btn-primary" (click)="setAndUpdatePlace()">
                Change current place  to {{placeSearch[0].nom}}
            </button>
            <br><br>
           ######################################### -->
            <!-- ######################################### -->
            <!-- ######################################### -->


            <!-- ######################################### -->
            <!-- Insertion des valeurs place.name (Here > videos) ############## //TODO modifier le nom de ces methodes et mettre les bonnes-->
            <!-- #########################################
            <br>
                <ul *ngIf="placeSearch && placeSearch.length > 0">
                    <li *ngFor="let place of placeSearch" style="font-size: 1em">
                        {{ place.nom }}
                    </li>
                </ul>

                <div align="center">
                    <button (click)="go()" class="btn fa-5x btn-danger">
                        GO
                    </button>

                    <div *ngIf="failEvent" class="fa-2x">
                            No Videos was found sorry.
                    </div>
                </div>
            <br>
             ######################################### -->
            <!-- ######################################### -->
            <!-- ######################################### -->


            <!-- ######################################### -->
            <!-- TABLE ################################### -->
            <!-- ######################################### <table  border="0" width="100%">
                <th class="fa-2x ">Sports </th>
                <th class="fa-2x">Current Place : {{person.currentPlace.nom}} </th>
                <tr>
                    <td width="50%">
                        <ul >
                            <li *ngFor="let mySport of sports; let i = index;">
                                <div style="font-size: larger">
                                    <input type="checkbox" [checked]=mySport.checked (change)="handleChange(mySport, i)" class="big-checkbox"/>
                                        {{mySport.sport.title}}
                                </div>
                            </li>
                        </ul>

                        <div align="center">
                                <button (click)="saveAndUpdateSports()" class="btn btn-primary">
                                    VALID
                                </button>
                        </div>
                    </td>

                    <td width="50%">
                            <br>
                                <div class="model-body">
                                    <input [(ngModel)]="person.distanceMax" type="text"/>
                                        km
                                    <span class="fa fa-arrow-right"></span> Maximum Distance
                                    <br><br>
                                        <input [(ngModel)]="searchText" (change)="searchName()" type="text"/>
                                        Press enter to search
                                    <br><br>
                                    <button *ngIf="placeSearch && placeSearch.length > 0" class="btn btn-primary" (click)="setAndUpdatePlace()">
                                        Change current place  to {{placeSearch[0].nom}}
                                    </button>
                                </div>
                    </td>
                </tr>


                 ######################################### -->
            <!-- Affichage valeurs ####################### -->
            <!-- #########################################
            <tr>

                <td>TODO Pourquoi mettre un td vide au début ?? A VERIFIER !!!!  -->
            <!--    </td>

             ######################################### -->


            <!-- Boucle For Afficher valeurs ############# -->
            <!-- #########################################
            <td>
               <br>
               <ul *ngIf="placeSearch && placeSearch.length > 0">
                  <li *ngFor="let place of placeSearch" style="font-size: 1em">
                      {{ place.nom }}
                  </li>
                </ul>
            </td>
             ######################################### -->
            <!-- End For ################################# -->
            <!-- #########################################

        </tr>
         ######################################### -->
            <!-- End Affichage ########################### -->
            <!-- #########################################

        </table>
            ######################################### -->
            <!-- End TAB !!  ############################# -->
            <!-- ######################################### -->


        </div>
        <!-- ######################################### -->
        <!-- End Video Not Received ################## -->
        <!-- ######################################### -->



        <!-- ######################################### -->
        <!-- Video Received ########################## -->
        <!-- #########################################
        <div *ngSwitchCase="true" >

             ######################################### -->
        <!-- Button Back ############################# -->
        <!-- #########################################
        <button type="submit"
            (click)="previous()"
            class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span>
                Back
            </span>
        </button>
        ######################################### -->
        <!-- End Button Back ######################### -->
        <!-- ######################################### -->


        <!-- ######################################### -->
        <!-- Affichage des valeur event.place.name (Change Here > with something????) ############## //TODO modifier le nom de ces methodes et mettre les bonnes-->
        <!-- #########################################
        <hr>
        <div class="fa fa-3x">

            {{event.place.nom}}

            <span class="fa fa-arrow-right"></span>

            {{event.distance}} KM

        </div>
        <br>
        <hr>
         ######################################### -->
        <!-- End Affichage ########################### -->
        <!-- ######################################### -->



        <!-- ######################################### -->
        <!-- Start event.sport.title ################# //TODO que faire de cette balise ??? puet etre l'enlever jej pense qu'elle est inutile -->
        <!-- #########################################
        <div class="fa fa-3x">
            Activity : {{event.sport.title}}
        </div>
        <br>
        <hr>
        ######################################### -->
        <!-- End event.sport.title ################### -->
        <!-- #########################################

    </div>
     ######################################### -->
        <!-- Fin Video Received####################### -->
        <!-- #########################################

    </div>
     ######################################### -->
        <!-- End Event Received ###################### -->
        <!-- #########################################

    </div>
     ######################################### -->
        <!-- End Authentificated ##################### -->
        <!-- ######################################### -->

        <!-- ######################################### -->
        <!-- Fin de l'authentification ############### -->
        <!-- ######################################### -->


        <!-- ###########################################################################################################################

</div>
 ######################################### -->
        <!-- Fin de l'authentification################ -->
        <!-- ######################################### -->



        <!-- ########################################################################################################################### -->

        <!-- ######################################### -->
        <!-- Comment suivre ce projet ? ############## -->
        <!-- #########################################
        <p>
            <span>If you like Video Generator, don't forget to give us a star on</span> <a href="https://github.com/maelpetit/VideoGen2" target="_blank" rel="noopener">GitHub</a>!
            <span>Do not forget to thank Jhipster team who without it, nothing would have been possible, just here :</span>  <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>
 ######################################### -->
        <!-- Fin du suivie. ########################## -->
        <!-- ######################################### -->


        <!-- ########################################################################################################################### -->


        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->
        <!-- #############\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/############# -->
        <!-- ########################################################################################################################## -->
    </div>
</div>
<!-- ########################################################################################################################## -->
<!-- ########################################################################################################################## -->
<!-- ########################################################################################################################## -->
