extends layout

block content
	div.title_panel
		p #{title}
	div.under_title
		p Made by <font color="red">#{author}</font>
	div.content
		button(class="button" onclick='{generate()}') Generate
		div.graphic

	div.footer
		p IDM Project - ISTIC RENNES (FR) - 2017/2018
