doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	body
		block content

script.
	var EnAttenteDeCreation = false;
	var generate = function() {
		if (!EnAttenteDeCreation){
			EnAttenteDeCreation= true;
			$('.graphic').html('<img src="/loading.gif"><br><br> Création de la vidéo en cours !');
			$.ajax({
				type:"GET",
				url:"/tools/generate",
				data:{},
				success:function(rep){
					$('.graphic').html('<video controls width="400" height="222" src="'+rep+'" type="video/mp4">Ici la description alternative</video>');
					EnAttenteDeCreation= false;
				},
				error:function(err){
					$('.graphic').html('Erreur de création de vidéo :<br>'+err);
					EnAttenteDeCreation= false;
				}
			});
		}	
	}
